<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piratebayfree"
    android:versionCode="8"
    android:versionName="1.06" >

    <uses-sdk
        android:minSdkVersion="6"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/tpb"
        android:theme="@style/tpb" >
        <activity
            android:name="com.piratebayfree.activities.MainActivity"
            android:label="@string/tpb"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="thepiratebay.sx"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.piratebayfree.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.piratebayfree.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piratebay.activities.MainActivity" />
        </activity>
        
        <activity
            android:name="com.piratebayfree.activities.ProxyActivity"
            android:label="@string/proxies"
            android:parentActivityName="com.piratebayfree.activities.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piratebay.activities.AboutActivity" />
        </activity>
        
        <activity
            android:name="com.piratebayfree.activities.LogsActivity"
            android:label="@string/logs"
            android:parentActivityName="com.piratebayfree.activities.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piratebay.activities.AboutActivity" />
        </activity>
        
        <!-- Google Play -->
    	<meta-data android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />
    	
    	<activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    
        
    </application>

</manifest>